name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: easingthemes/ssh-deploy@main
      with:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }} 
        SOURCE: "/" 
        REMOTE_HOST: "ec2-15-229-59-227.sa-east-1.compute.amazonaws.com" 
        REMOTE_USER: "ubuntu" 
        TARGET: "/home/ubuntu/portfolio-api" 
        EXCLUDE: "dist/,node_modules/,.git*,*.yml" 
        ARGS: "-avzr --delete"

    - name: Deploy to EC2 (Docker Deployment)
      run: |
        echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem
        chmod 600 private_key.pem
        ssh -i private_key.pem ubuntu@ec2-15-229-59-227.sa-east-1.compute.amazonaws.com << 'EOF'
        cd /home/ubuntu/portfolio-api
        sudo docker compose down
        sudo docker compose up -d --build
        sudo systemctl restart nginx
        EOF
