name: Push to AWS

on: 
  push:
    branches:
      - main
  
jobs:
  deploy:
    name: Deploy to EC2 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      uses: easingthemes/ssh-deploy@main
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        SOURCE: "./"
        REMOTE_HOST: "ec2-18-231-189-14.sa-east-1.compute.amazonaws.com"
        REMOTE_USER: "ubuntu"
        TARGET: "/home/ubuntu/portfolio-api"
        EXCLUDE: "/dist/, /node_modules/, /prisma/, docker-compose.yml, .git*,*.yml"


