name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: easingthemes/ssh-deploy@main
      with:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}  # Chave privada SSH da instância EC2
        SOURCE: "/"  # Código-fonte do repositório
        REMOTE_HOST: "ec2-15-229-59-227.sa-east-1.compute.amazonaws.com"  # IP da sua instância EC2
        REMOTE_USER: "ubuntu"  # Usuário SSH na instância EC2
        TARGET: "/home/ubuntu/portfolio-api"  # Diretório onde o código será enviado
        EXCLUDE: "dist/,node_modules/,.git*,*.yml,.env"  # Arquivos a serem excluídos no envio
        ARGS: "-avzr --delete"  # Opções do comando rsync

    - name: Deploy to EC2 (Docker Deployment)
      run: |
        echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem
        chmod 600 private_key.pem
        ssh -i private_key.pem ubuntu@ec2-15-229-59-227.sa-east-1.compute.amazonaws.com << 'EOF'
        cd /home/ubuntu/portfolio-api  # Entrar no diretório do código na instância EC2
        sudo docker compose pull 
        sudo docker compose up -d 
        sudo systemctl restart nginx  # Restart do Nginx (se necessário)
        EOF
