name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: easingthemes/ssh-deploy@main
      with:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }} 
        SOURCE: "/" 
        REMOTE_HOST: "ec2-15-229-59-227.sa-east-1.compute.amazonaws.com" 
        REMOTE_USER: "ubuntu" 
        TARGET: "/home/ubuntu/portfolio-api" 
        EXCLUDE: "dist/,node_modules/,prisma/,docker-compose.yml,.git*,*.yml" 
        ARGS: "-avzr --delete"

    - name: Deploy to EC2 (PM2 Deployment)
      run: |
        echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem
        chmod 600 private_key.pem
        ssh -i private_key.pem ubuntu@ec2-15-229-59-227.sa-east-1.compute.amazonaws.com << 'EOF'
        cd /home/ubuntu/portfolio-api
        npm install --legacy-peer-deps || npm install --force
        npm run build
        pm2 stop nestjs-app || true 
        pm2 delete nestjs-app || true
        pm2 start npm --name nestjs-app -- run start -- -p 3000 
        pm2 save
        sudo systemctl restart nginx
        EOF
